<h1>Sign-in</h1>
  <form class="" method="POST" action="/session">
    <fieldset>
      <div>
        <label for = "username">Username:</label>
        <input name = "username">
        <label for = "password">Password:</label>
        <input name = "password">
        <input name="authenticity_token" value = "<%= form_authenticity_token() %>" type = "hidden">
        <button>Sign-In</button>
      </div>
    </fieldset>
  </form>
<h1>Sign-up</h1>
  <%= form_for(@user) do |f| %>
    <label>Email</label>
    <%= f.text_field :email, placeholder: "New Email" %>
    <label>Username</label>
    <%= f.text_field :username, placeholder: "New Username" %>
    <label>Password</label>
    <%= f.text_field :password, placeholder: "New Password" %>
    <label>Password Confirmation</label>
    <%= f.text_field :password, placeholder: "Confirm Password" %>
    <input name="authenticity_token" value = "<%= form_authenticity_token() %>" type = "hidden">
    <button>Sign-Up</button>
  <% end %>