<h1>Welcome <%= @user.username %></h1>
<%= form_for @tweet do |f| %>
  <%= f.label :content, "tweet this:" %>
  <%= f.text_field :content, placeholder: "tweet this" %>
  <%= f.submit %>
<% end %>
<div id = 'tweets'>
</div>